:root {
    --borders: ridge 3px black;
    --fonts: 'Dancing Script', cursive;
}

body {
    padding: 7px;
    background-color: aliceblue;
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(179deg, #028bdec2,#062a52);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: var(--borders);
}

h1 {
    padding: .2rem;
    padding-left: 1.2rem;
    border-right: var(--borders);
    font-family:'Dancing Script', cursive;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav div {
    background-color: gray;
    padding: .8rem;
    margin: 5px;
    border: solid ;
}

a:hover {
    background-color: #ddd;
    color: #000;
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#bannerimage {
    background-image: url(./images/mesh-wide-banner-polygonal-vector-260nw-1341775856\ copy.jpg);
    width: auto;
    height: 1.2rem;
    padding: 1.2rem;
    color: yellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 2px 2px 2px #ffffff;
}

.sectionspace {
    margin: .2rem 0;
    border: var(--borders) ;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex flex-start;
}

.align {
    text-align: center;
    margin: auto .2rem;
}

aside h2 {
    padding: 20px 20px;
    border-right: var(--borders);
    font-family: var(--fonts);
}

.tiles {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.my-images {
    width: 300px;
    height: auto;
    padding: 10px;
    flex: 1;
}

#h2padding {
    padding: 20px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    padding: .8rem;
    margin: 5px;
    border: solid ;
}